# Monad Testnet Configuration
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
PRIVATE_KEY=6d5799a43c4423c63eb78031cc67bd374368c49b7c958f357bc7add7d4dc60a0

# Get MON tokens from: https://faucet.monad.xyz
# Monad Testnet Explorer: https://testnet.monadexplorer.com
d